<div>
<div class="jumbotron">
  <h1>{{product.name}}</h1>
  <h3>Price {{product.price}} RSD</h3>
  <h3>Lager {{product.lager}} </h3>
  <img style="width:400px;height:300px;" src="{{product.image}}">
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Buy !</a></p>
</div>

<!-- <ul ng-repeat="r in reviews">
  <li><div style="width:500px;max-width:500px;display:inline-block;background-color:lightgray;"><p>{{r.comment}}</p></div>
</li>
</ul> -->
<div class="form-group">
  <label for="comment">Review:</label>
  <textarea class="form-control" ng-model="review.comment" rows="3" cols="80" id="comment"></textarea><br/>
  <div star-rating rating="starRating" read-only="false" max-rating="10" click="click(param)"></div>
            <div> <span class="label label-primary">Product rating: {{starRating}}</span><br/><br/>
 	<button type="button" class="btn btn-primary" ng-click="addReview()" ng-disabled="!review.comment">Add review</button>
  <br/><br/>
 </div>
</div>
</div>
