<div>
<div style="float:left; width:20%;">
<ul class="ver"  ng-repeat="c in categories">
  <li class="ver"><div><a ng-href="#/category/{{c.name}}" href="#products" ng-disabled="!isLoggedIn()">{{c.name}}</a>
  <button type="button" class="btn btn-danger btn-xs toprightRemove" ng-click="deleteCategory(c)" ng-show="currentUser ==='admin'">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
 </div>
 </li>
</ul>
<ul class="ver" ng-show="currentUser==='admin'">
<li class=""><a href="#category">Add new category...</a></li>
</ul>
</div>
<div style="float:left; width:80%;">
<br/><br/><br/>
<div class="col"> 
  <div class="col-md-4" ng-repeat="p in products">
    <a ng-href="#/product/{{p.id}}" class="thumbnail">
      <p>{{p.name}}</p>
      <p>{{p.price}}</p>
      <img src="{{p.image}}" style="width:150px;height:100px">
    </a>
  </div>
</div>	
</div>
</div>


