<div>
<div>
<div style="float:left; width:20%;">
<ul class="ver">
<li><a href ng-click="search = !search">Search &nbsp;<span class="glyphicon glyphicon-search"></span></a></li>
<li><a href="#products" ng-href="#products">All products</a></li>
<li><a href="#sale" ng-href="#sale">Sale !</a></li>
</ul>

<ul class="ver"  ng-repeat="c in categories">
  <li class="ver"><div><a ng-href="#/category/{{c.name}}" href="#products">{{c.name}}</a>
  <button type="button" class="btn btn-danger btn-xs toprightRemove" ng-click="deleteCategory(c)" ng-show="currentUser ==='admin'">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
  </div>
  </li>
</ul>
<ul class="ver">
<li class=""><a href="#category" ng-show="currentUser==='admin'">Add new category...</a></li>
</ul>
</div>
<div style="float:left; width:80%;">
<div ng-show="search">
<div style="width:80%;">
<rzslider
    rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
      <button type="button" class="btn btn-default" ng-click="slider.min = 0;slider.max=1000000">Reset range</button>
</div>
&nbsp;&nbsp;&nbsp;<label>Search by name: <input type="text" class="form-control" ng-model="searchText.name" data-toggle="tooltip" data-placement="right" title="Searh by name"></label>
	<label>Search by brand name <input type="text" class="form-control" ng-model="searchText.brandName" data-toggle="tooltip" data-placement="right" title="Search by brandName"></label>
	<label>Search by description <input type="text" class="form-control" ng-model="searchText.description" data-toggle="tooltip" data-placement="right" title="Search by description"></label>
	<label>Search by country <input type="text" class="form-control" ng-model="searchText.origin" data-toggle="tooltip" data-placement="right" title="Search by country"></label>
	<label>Search by lager <input type="text" class="form-control" ng-model="searchText.lager" data-toggle="tooltip" data-placement="right" title="Search by lager"></label>
	<label>Search by color <input type="text" class="form-control" ng-model="searchText.color" data-toggle="tooltip" data-placement="right" title="Search by color"></label><br/><br/><br/>
<button type="button" class="btn btn-default btn" ng-click="searchText={};slider.min = 0; slider.max=1000000"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Reset search</button>
<br/><br/>
</div>

<div ng-if="productsOnSale.length  !=''">
<div>
<h1>Currently on sale</h1>
</div>
<div class="col"> 
  <div class="col-md-4" ng-repeat="p in productsOnSale | filter:searchText | rangeFilter:slider">
    <a ng-href="#/product/{{p.id}}" class="thumbnail">
      <p>{{p.name}}</p>
      Old price:<p class="strikethrough">{{p.price}}</p>
      New price<p>{{p.newPrice}}</p>
      <img src="{{p.image}}" style="width:150px;height:100px">
    </a>
  </div>
 </div>
 </div>

<div ng-show="productsWereOnSale.length !=''">
 <div>
<h1>Finished sales</h1>
</div>
<br><br><br>
<div class="col"> 
  <div class="col-md-4" ng-repeat="s in productsWereOnSale | filter:searchText | rangeFilter:slider">
    <a ng-href class="thumbnail">
      <p>{{s.name}}</p>
      <p>Discount rate:{{s.discountRate}}%</p>
      <img src="{{s.image}}" style="width:150px;height:100px">
    </a>
  </div>
  </div>
</div>
</div>	
</div>
</div>










