<div align="center">
<div ng-repeat="p in products" align="center" style="width:30%;">
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{p.name}} &nbsp;&nbsp;<button type="button" class="btn btn-danger btn-xs" ng-click="removeItem(p.id)">
  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
</button></h3>
  </div>
  <div class="panel-body">
		{{p.price}}.00 DIN<br/>
		{{p.brandName}}<br/>
		{{p.category}}<br/>
		<img src="{{p.image}}" style="width:150px;height:100px"/>
		<select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="p.deliveryId">
        <option ng-repeat="d in deliverers" value="{{d.name}}">{{d.name}}</option>
     </select>
  </div>
</div>
</div>
<h3>Total price of your shopping list is {{total}}.00 Din.</h3>
<button type="button" class="btn btn-success btn-lg"  ng-click="buy()">
<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Finish shopping !</button>
</div>