<div>
<h1 align="center">Stores:</h1>
<div class="col" ng-repeat="s in stores">
  <div class="col-md-2">
     <a href ng-click="storeDetails(s)" class="thumbnail">
      <img src="http://shmector.com/_ph/7/794491321.png" style="width:200px;height:150px" />
      <p>{{s.name}}</p>
      <p>{{s.address}}</p>
    </a>
  </div>
</div>
<button class="btn btn-info topright" ng-click="value = !value" >Add new store</button>
<br/><br/><br/>
<div align="center" ng-show="value">
<h1 align="center">Adding new store</h1>
Name : <input class="form-group" type="text" name="name" ng-model="store.name"/><br/>
Address : <input class="form-group" type="text" name="address" ng-model="store.address"/><br/>
Country : <input class="form-group" type="text" name="country" ng-model="store.country"/><br/>
Contact : <input class="form-group" type="text" name="contact" ng-model="store.contact"/><br/>
Email : <input class="form-group" type="text" name="email" ng-model="store.email"/><br/>
<button type="button" ng-click="addStore()">Add store</button>
</div>
</div>
