<div>
	<div align="center">
		<div class="jumbotron">
			<h1>{{st.name}}</h1>
			<h2>{{st.address}}</h2>
			<h2>{{st.country}}</h2>
			<h2>{{st.contact}}</h2>
			<button class="btn btn-danger topright" ng-click="deleteStore(st)" ng-show="currentRole==='admin'">Delete
				store</button>
			<table>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>

				<tr>
					<button type="button" class="btn btn-default"
						ng-click="showAddProduct = !showAddProduct"
						ng-show="currentRole==='admin' || currentUser==st.seller">Add new product</button>
				</tr>
				<tr>
					<button type="button" class="btn btn-default"
						ng-click="showAddSeller = !showAddSeller"
						ng-show="currentRole==='admin'">Hire new seller</button>
				</tr>
				<tr>
					<button type="button" class="btn btn-default"
						ng-click="showUpdateStore= !showUpdateStore"
						ng-show="currentRole==='admin' || currentUser==st.seller">Update store</button>
				</tr>
			</table>
		</div>
	</div>

	<div class="col">
		<div class="col-md-4" ng-repeat="p in storeProducts">
			<a ng-href="#/product/{{p.id}}" class="thumbnail">
				<p>{{p.name}}</p>
				<p>{{p.price}}</p> <img src="{{p.image}}"
				style="width: 150px; height: 100px">
			</a>
		</div>
	</div>

	<div style="float: left; width: 33%;" ng-show="showAddProduct">
		<h1 align="center">Add new product</h1>
		<table class="table">
			<tr>
				<td>Name :</td>
				<td><input class="form-control" type="text"
					ng-model="product.name" /></td>
			</tr>
			<tr>
				<td>Description :</td>
				<td><input class="form-control" type="text"
					ng-model="product.description" /></td>
			</tr>
			<tr>
				<td>Price :</td>
				<td><input class="form-control" type="text"
					ng-model="product.price" /></td>
			</tr>
			<tr>
				<td>Size :</td>
				<td><input class="form-control" type="text"
					ng-model="product.size" /></td>
			</tr>
			<tr>
				<td>Weight :</td>
				<td><input class="form-control" type="text"
					ng-model="product.weight" /></td>
			</tr>
			<tr>
				<td>Color :</td>
				<td><input class="form-control" type="text"
					ng-model="product.color" /></td>
			</tr>
			<tr>
				<td>Origin :</td>
				<td><input class="form-control" type="text"
					ng-model="product.origin" /></td>
			</tr>
			<tr>
				<td>Brand name :</td>
				<td><input class="form-control" type="text"
					ng-model="product.brandName" /></td>
			</tr>
			<tr>
				<td>Category</td>
				<td><select class="form-control" name="repeatSelect"
					id="repeatSelect" ng-model="product.category">
						<option ng-repeat="c in cats" value="{{c.name}}">{{c.name}}</option>
				</select></td>
			</tr>
			<tr>
				<td>Image :</td>
				<td><input class="form-control" type="text"
					ng-model="product.image" /></td>
			</tr>
			<tr>
				<td>Image upload :</td>
				<td>
				<div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}} <span class="progress" ng-show="f.progress >= 0">
         	 <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span></div>
					<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
						accept="image/*" ngf-max-height="2000" ngf-max-size="10MB">
						Select File</button>
			</tr>
			<tr>
				<td>Lager :</td>
				<td><input class="form-control" type="number" min="0" max="100"
					step="1" value="30" ng-model="product.lager" /></td>
			</tr>
		</table>
		<div align="center">
			<button type="button" class="btn btn-default" ng-click="addProduct()">Add
				product</button>
		</div>
	</div>
	<div style="float: left; width: 33%;" ng-show="showAddSeller">
		<h1>Hire new seller</h1>
		
		<select class="form-control" name="sellerSelect"
					id="sellerSelect" ng-model="newSeller.username">
						<option ng-repeat="u in users | filter:{ username: '!' + st.seller}" value="{{u.username}}">{{u.username}}</option>
				</select>
		<div align="center">
			<button type="button" class="btn btn-default" ng-click="hireSeller(u)">Hire seller !</button>
		</div>		
		
		
	</div>

	<div style="float: left; width: 33%;" ng-show="showUpdateStore">
		<h1>Update store</h1>
		<table class="table">
			<tr>
				<td>Name :</td>
				<td><input class="form-control" type="text" ng-model="st.name" /></td>
			</tr>
			<tr>
				<td>Address :</td>
				<td><input class="form-control" type="text"
					ng-model="st.address" /></td>
			</tr>
			<tr>
				<td>Country :</td>
				<td><input class="form-control" type="text"
					ng-model="st.country" /></td>
			</tr>
			<tr>
				<td>Contact :</td>
				<td><input class="form-control" type="text"
					ng-model="st.contact" /></td>
			</tr>
			<tr>
				<td>Email :</td>
				<td><input class="form-control" type="text" ng-model="st.email" /></td>
			</tr>
			<tr>
				<td>Seller :</td>
				<td><input class="form-control" type="text"
					ng-model="st.seller" readonly/></td>
			</tr>
		</table>
		<div align="center">
			<button type="button" class="btn btn-default"
				ng-click="updateStore()">Update store</button>
		</div>

	</div>

</div>



